
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}


.infotext, .range-pickers, .counters{
    margin: 0 2rem;
}

.range-pickers {
    display: flex;
}

.range {
    width: 300px
}

.text-labels, .range-inputs, .count-labels{
    display: flex;
    flex-direction: column;
}

.range-inputs {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2rem;
    padding: 0 11rem;
    
}

li {
    border: 1px solid white;
    color: white;
    font-size: 1.5rem;
    width: 200px;
    margin: 0.5rem;
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: lightskyblue;
}


@media only screen and (max-width: 600px){
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: white;
        display: flex;
        flex-direction: column;
    }
    
    .infotext, .range-pickers{
        margin: 0 4rem;
    }

    ul {
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    li {
        width: 100px;
        font-size: 1.2rem;
    }

    .infotext, .range-pickers{
        margin: 0 0.5rem;
        font-size: 0.9rem;
    }

}

